@font-face {
  font-family: "SF Pro Display Medium";
  src: url("/assets/sf-pro-display/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url("/assets/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 1000;
  font-style: normal;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: 100px 100px;
  padding: 40px 20px;
}

.main_div {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: inset 1px 4px 10px rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.05);
  gap: 30px;
  width: 100%;
  height: 370px;
}

.content {
  flex: 1 1 350px;
  max-width: 600px;
  z-index: 10;
}

.content h1 {
    font-size: 40px;
  font-weight: 600;
  font-family: "SF Pro Display Bold", sans-serif;
}

.highlight {
  background: linear-gradient(to bottom, #e5c500, #ff7300);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.content p {
  margin: 20px 0;
  color: #ccc;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.storeButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

.storeButtons img {
  height: 45px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.storeButtons img:hover {
  transform: scale(1.05);
}

.phoneMock {
  flex: 1 1 300px;
  max-width: 545px;
  display: flex;
  justify-content: center;
  /* background-color: #e5c500; */
}

.phoneMock img {
  width: 100%;
  height: 370px;
  max-width: 554px;
  border-radius: 12px;
  object-fit: cover;
}

.mobile_image{
  display: none;
}

/* .phone_image {
  width: 100%;
  max-width: 554px;
  height: 370px;
  object-fit: cover;
} */

@media (max-width: 1024px) {
  .content {
    flex: 1 1 450px;
    max-width: 600px;
    z-index: 10;
  }
}

@media (max-width: 900px) {
  .glassCard {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 20px 0px 20px;
    height: auto;
    gap: 80px;
  }

  .content {
    flex: 1 1 300px;
    max-width: 80%;
    height: 300px;
  }

  .content h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: "SF Pro Display Bold", sans-serif;
  }

  .content p {
    font-size: 16px;
    font-weight: 500;
    font-family: "SF Pro Display Bold", sans-serif;
  }

  .storeButtons {
    justify-content: center;
  }

  .phoneMock img {
    height: 450px !important;
    max-width: 100%;
    width: 100%;
  object-fit: cover;
  object-position: center left;
  }

.phone_image{
  display: none;
}
.mobile_image{
  display: block;
}
}

@media (max-width: 600px) {
  .glassCard {
    padding: 30px 15px 0px 15px;
    gap: 50px;
  }

  .content {
    width: 100%;
  }

  .storeButtons img {
    height: 38px;
  }

  .phoneMock {
    max-width: 100%;
  }
}

@media (max-width: 570px) {
  .content h1 {
    font-size: 37px;
  }
  .content p {
    font-size: 15px;
  }
}

@media (max-width: 460px) {
  .glassCard {
    padding: 50px 15px 0px 15px;
    gap: 50px;
  }
  .content {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }

  .content h1 {
    font-size: 36px;
    font-weight: 600;
    font-family: "SF Pro Display Bold", sans-serif;
  }
}

.landmark_heading {
  color: white !important;
}
