/* home_banner.module.css */
@font-face {
  font-family: "SF Pro Display Medium";
  src: url("/assets/sf-pro-display/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url("/assets/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 1000;
  font-style: normal;
}

.outerContainer {
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  color: #333;
  margin: 0 auto;
}

.heroSection {
  height: 60vh;
  min-height: 500px;
  width: 100%;
  color: #fff;
  display: grid;
  place-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.heroContent {
  max-width: 720px;
  margin: 0 auto;
}

.subtitle {
  line-height: 80px;
  font-size: 65px;
  font-family: "SF Pro Display Bold", sans-serif;
  letter-spacing: 0px;
}

.gradientText {
  background: linear-gradient(to bottom, #e5c500, #ff7300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.title {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 80px;
  font-size: 65px;
  font-family: "SF Pro Display Bold", sans-serif;
}

.description {
  font-size: 18px;
  color: #8a8f98;
  line-height: 31px;
  margin-bottom: 1.5rem;
}

@media (max-width: 640px) {
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 50px;
  }
  .description {
    font-size: 1rem;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .buttons {
    flex-direction: row;
  }
}

.btn {
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnPrimary {
  padding: 12px 35px;
  border-radius: 12px;

  /* Text */
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.2px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-right: 1px solid rgba(255, 255, 255, 0.407);
  border-top: 1px solid rgba(255, 255, 255, 0.407);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  background-color: #ffffff07;
  box-shadow: inset 0.5px 2px 10.8px rgba(255, 255, 255, 0.205);
}

.btnPrimary:hover {
  transform: translateY(-2px);
}

.btnPrimary:active {
  transform: translateY(0);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5),
    inset 0 -4px 14px rgba(0, 0, 0, 0.5);
}

.btnSecondary {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 12px 30px;
  border: none;
  font-size: 15px;
  font-family: "SF Pro Display Bold", sans-serif;
  font-weight: 400;
  background: transparent;
  border-radius: 12px;
  color: #ffffff;
}

.btnSecondary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(to right, #686868, #3f3f3f);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.btnSecondary:hover::before {
  opacity: 1;
}

.heroSectionImage {
  width: 100%;
  height: 100%;
}
/* .heroSectionImage img {
  width: 100%;
  height: auto;
  margin-left: 20px;
} */

.heroSectionImage {
  background: url("/image/home-banner-image.png") center/contain no-repeat;
  width: 100%;
  aspect-ratio: 16 / 9;
}

@media (max-width: 600px) {
  .heroSectionImage {
    height: 500px;
    background: url("/image/home-banner-image-mobile.png") top/contain no-repeat;
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 500px) {
  .outerContainer {
    padding: 80px 5px 30px 5px;
  }

  .title {
    font-size: 43px;
    line-height: 60px;
  }
  .subtitle {
    font-size: 43px;
    line-height: 60px;
  }
  .description {
    font-size: 1rem;
  }

  .heroSectionImage {
    height: 450px;
  }

  .btn {
    font-size: 12px;
  }
}

@media (max-width: 440px) {
  .heroSectionImage {
    height: 400px;
  }

  .btnPrimary {
    padding: 12px 26px;
  }
  .btnSecondary {
    padding: 12px 20px;
  }
}

@media (max-width: 401px) {
  .heroSectionImage {
    height: 350px;
  }
  .btn {
    font-size: 10px;
  }

  .btnPrimary {
    padding: 12px 22px;
  }
  .btnSecondary {
    padding: 12px 16px;
  }
}
